body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  font-size: 3rem;
  margin: auto;
  max-width: 800px;
  margin-top: 20px;
}
.product-list > div{
  font-size: 18px;
}
.footer-div{
  bottom: 0px;
  position: fixed;
  text-align: center;
  width: 100%;
  background-color: lightpink;
}